{
  "useDevelopmentStorage": false,
  "connectionString": "DefaultEndpointsProtocol=https;AccountName=action123;AccountKey=o6PA1lc8HQ/xKBweDw//nDFVO9MaTDpIENaYHhVrCtEA5ZQroItH9VDlHpx3uLOKHb9DJ+794VVnUtK0djpkVg==;EndpointSuffix=core.windows.net",
  "accountName": "",
  "accountKey": "",
  "containerName" : "someimagescontainer",
  "sas": ""
}
